.gridGames {
    display: grid;
    height: 100%;
    grid-column-gap: 1%;
    text-align: center;
    font-size: 2rem;
}
.pagination {
    display: inline-block;
    a {
        border-radius: 10px;
        color: black;
        font-weight: bold;
        float: center;
        padding: 1% 2%;
        margin-top: 2%;
        text-decoration: none;
        transition: all 0.5s;
    }
    a.active {
        background-color: red;
        color: white;
    }
    a:hover:not(.active) {
        background-color: darkred;
        color: white;
    }
} 

.gridCalendar {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas:
    "month month month month month month month"
    "div div div div div div div"
    "div div div div div div div"
    "div div div div div div div"
    "div div div div div div div"
    "div div div div div div div"
    "div div div div div div div"
    "pag pag pag pag pag pag pag";
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 120px 50px 1fr 1fr 1fr 1fr 1fr 50px;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    padding: 0;
}
.gridCalendarExtended {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas:
    "month month month month month month month"
    "div div div div div div div"
    "div div div div div div div"
    "div div div div div div div"
    "div div div div div div div"
    "div div div div div div div"
    "div div div div div div div"
    "div div div div div div div"
    "pag pag pag pag pag pag pag";
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 120px 50px 1fr 1fr 1fr 1fr 1fr 1fr 50px;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    padding: 0;
}
.month {
    background-color: tomato;
    border: none;
    font-size: 3rem;
    text-align: center;
    grid-area: month;
}
.dayName {
    background-color: brown;
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
}
.dayGray {
    text-align: end;
    color: dimgray;
    border-bottom: 1px solid dimgray;
}
.dayBlack {
    text-align: end;
    border-bottom: 1px solid black;
}
.gameOfTheDay {
    text-align: start;
    font-weight: bold;
    transition: all 0.5s;
}
.gameOfTheDay:hover {
    font-weight: bolder;
    color: brown;
}
.gameGray {
    text-align: start;
    font-weight: bold;
    color: dimgray;
    transition: all 0.5s;
}
.gameGray:hover {
    font-weight: bolder;
    color: gray;
}
.pag {
    grid-area: pag;
}