header {
    background-color: red;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
header:hover {
    animation-name: title;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 0.25s;
}
.titleSkew {
    transform: skewX(-10deg);
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
    font-weight: bolder;
}
h3 {
    font-size: 2.5rem;
    font-weight: bold;
}
h4 {
    font-size: 2rem;
}
.title {
    font-size: 3rem;
    text-align: center;
    margin: 3% 0%;
}
.subtitle {
    font-size: 2.5rem;
    text-align: center;
    margin: 3% 0%;
}
.subtitle4 {
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    margin: 3% 0%;
}